@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
:root {
    --dark-jungle-green: hsl(188, 63%, 7%);
    --prussian-blue: hsl(140, 19%, 50%);
    --raisin-black-1: hsl(227, 29%, 13%);
    --raisin-black-2: hsl(229, 17%, 19%);
    --yellow-green: hsl(89, 72%, 45%);
    --orange-soda: hsl(9, 100%, 62%);
    --cultured-1: hsl(0, 0%, 93%);
    --cultured-2: hsl(192, 24%, 96%);
    --misty-rose: hsl(7, 56%, 91%);
    --alice-blue: hsl(210, 100%, 97%);
    --seashell: hsl(8, 100%, 97%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --opal: hsl(180, 20%, 62%);
    --ff-nunito-sans: "Nunito Sans", sans-serif;
    --ff-poppins: "Poppins", sans-serif;
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --transition: 0.25s ease;
    --section-padding: 100px;
    --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
    --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
   
}

header {



    height: 18vh;
    padding: 1px 0;
    position: absolute;
    top: 0;
    z-index: 99999;
    background-image: url(../images/Shape.png);
    width: 1363px;
    height: 195px;
    left: -13px;
    top: 0px;
    padding: 9px;




}

.home {
    background-image: url(../images/banner.jpg);
    height: 870px;
    width: 1350px;
    position: relative;
    background-position-y: 0%;
    left: -8px;
    background-repeat: no-repeat;
    top: 0px;
}

.logo-img {
    left: 4rem;
    top: 3.5rem;
    position: absolute;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 4rem;
    position: relative;
    width: 548px;
  left: 525px
;



}
.toggle{
    display: none;
}

.input {
  
        width: 186px;
        height: 42px;
        /* font-size: 6px; */
        padding: 10px 30px;
        left: 1034px
        ;
        position: relative;
        top: 34px;
        border: 0;
        border-radius: 50px;
        background: rgba(127, 119, 112, 1);
        border: none;
        outline: none;
    
}

.fa-search {
    top: 35px;
    left: 1004px;
    position: relative;
}

li {
    list-style: none;
}

.navlinks a {
    font-family: "opensans-bold";
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    color: #54524F;


    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 25px;
}

.banner-tittle h1 {
    /* Title */

    /* Title */


    position: relative;
    width: 381px;
    /* height: 68px; */
    font-family: "opensans-extrabold";
    font-size: 59px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    top: 22rem;
    color: #DEB37E;
    left: 4rem;



}

.sub-text {
    font-family: "opensans-bolditalic";
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    color: #54524F;
    width: 319px;
    height: 20px;
    left: 4rem;
    top: 23rem;
    position: relative;
}

.button .btn {
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    border: 0;
    border-radius: 50px;
    top: 26rem;
    position: relative;
    left: 4rem;
    background: #fff;
}
.p-info p {
    /* Body Text */

    position: relative;
    width: 460px;
    height: 71px;

    font-family: "opensans-italic";
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    color: #54524F;
    top: 28rem;
    left: 4rem;
}




.adven-info h3 {
    width: 100%;
    height: 71px;
    display: flex;
    text-align: center;

    font-size: 41px;
    font-weight: bold;
    font-style: normal;

    color: #E2A355;
    position: relative;
    justify-content: center;
}

.adventure {

    height: 1050px;
    width: 100%;
    margin-top: 3rem;

}

.container {
    margin: auto;
    max-width: 80%;
}

.adven-info p {
    display: block;
    width: 31%;
    text-align: center;
    height: 55px;
    font-family: "opensans";
    font-size: 17px;
    margin: auto;
    font-weight: 400;
    line-height: 1.7rem;
    font-style: normal;
    color: #7F7770;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card-1 {


    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 339px;
    height: 493px;
    background: rgba(127, 119, 112, 1);




}

.card-2 {
    grid-area: 1 / 3 / 2 / 4;

    position: relative;
    width: 339px;
    height: 493px;
    background: rgba(127, 119, 112, 1);


}

.card-3 {
    grid-area: 1 / 5 / 2 / 6;

    position: relative;
    width: 339px;
    height: 493px;
    background: rgba(127, 119, 112, 1);


}

.card-info h4 {
    font-family: "opensans-bold";
    font-size: 29px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;

    position: absolute;
    width: 185px;
    height: 30px;

}

.card-info p {
    Width:299px;
    Height:52px;
 


font-family: "opensans";
font-size: 23px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #FFFFFF;
}
.card-info{
    height: 176px;
}
.card-info p {
    Width: 287px;
    Height: 52px;
    font-family: "opensans";
    font-size: 23px;
    position: absolute;
    top: 22.5rem;
    display: block;
    font-weight: 400;
    left: 0.8rem;
    font-style: normal;
    text-align: initial;
    color: #FFFFFF;
}
.background{
    background-image: url(../images/Shadow\ .png);
   position: relative;
   top: -23rem;
  width: 804px;
  background-position-x: 377%;
  background-repeat: no-repeat;
  height: 512px;
  opacity: 0.79;
}
.button2{
    /* Shape */


        position: relative;
        width: 336px;
        height: 78px;
        font-size: 16px;
        padding: 15px 32px;
        text-align: center;
        border: 0;
        border-radius: 50px;
        align-items: end;
        left: 25rem;
        top: 9rem;
        background: rgba(127, 119, 112, 1);
    

}
.menu {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat( 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    left: 0px;

    }
    
    .menu-1 { grid-area: 1 / 1 / 2 / 2;
    
        height:700px;
        width:712px;
    
    }
    .menu-1 img{
        height:700px;
        width:712px;
    }
    .menu-2 { 
        
        grid-area: 1 / 2 / 2 / 4;
        background-color: #54524F;
        width: 100%;
    
    
    
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
    }
    .has-scrollbar::-webkit-scrollbar-button {
        width: 15%;
    }
    ::-webkit-scrollbar-track {
        background: var(--white);
    }
    .has-scrollbar::-webkit-scrollbar-track {
        background: var(--cultured-2);
        outline: 2px solid var(--cadet);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--cadet);
        border-left: 2px solid var(--white);
    }
    .has-scrollbar::-webkit-scrollbar-thumb {
        background: var(--cadet);
        border: 1px solid var(--cultured-2);
        border-radius: 10px;
    }
    .menu-3 {
        grid-area: 1 / 1 / 1 / 2;
        background-color: RGBA(222, 179, 126, 1);
        top: -3px;
        width: 712px;
        position: relative;
    }
    .menu-4{
        grid-area: 1 / 2 / 2 / 2;
      

    }
    .menu-4 img{
        height:700px ;
    
        width:640px;
    }
    
    
  .menu-info h1{
    /* Title */
    position: relative;
    width: 374px;
    height: 154px;
    left: 4rem;
    font-family: "opensans-bold";
    font-size: 39px;
    font-weight: bold;
    font-style: normal;
    text-align: initial;
    color: #FFFFFF;
    top: 11rem

  }
  .menu-info p{
    position: relative;
    width: 505px;

    height: 175px;
    font-family: "opensans";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    top: 8rem;
    left: 4rem;
    color: #FFFFFF;


  }
  .button-3 {
    position: relative;
    width: 197px;
    height: 66px;
    font-size: 17px;
    padding: 10px 22px;
    text-align: center;
    border: 0;
    top: 7rem;
    left: 3rem;
    border-radius: 50px;
    align-items: end;
    background: rgba(226, 163, 85, 1);
}
.sec-image{
    
        background-image: url(../images/Design.png);
        position: relative;
        width: 1340px;
        height: 905px;
        background-position-x: 70%;
    
}

.sec-image h1{ 
    width: 100%;
    height: 59px;
    font-family: "opensans-semibold";
    font-size: 58px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    top: 27rem;
    /* left: 27rem; */
    justify-content: center;
    display: flex;
    position: relative;
    color: #FFFFFF;
}
.sec-image p{
    width:895px;
    top: 27rem;
    position: relative;
    /* Body text */
left: 19rem;


height: 100px;

font-family: "opensans";
font-size: 29px;
font-weight: 400;
font-style: normal;
text-align: center;
color: #DBDBDB;

}
.hiker-img{
    background-position-x: 51%;
    position: relative;

    width: 1345px;
    left: -5px;

}
.review{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
}
.review-1{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 332px;
   
    height: 132px;
}
.review-1 h3{
    /* Title */


width: 207px;
height: 34px;

font-family: "opensans-bold";
font-size: 33px;
font-weight: bold;
font-style: normal;
text-align: left;
color: #DEB37E;

}
.review-1 p{
    width: 332px;
height: 70px;

font-family: "opensans";
font-size: 19px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #333D42;
}
.review-2{
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    width: 332px;

    height: 132px;
}
.review-3{
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
    width: 332px;

    height: 132px;
}
.review-2 h3{
    /* Title */


width: 207px;
height: 34px;

font-family: "opensans-bold";
font-size: 33px;
font-weight: bold;
font-style: normal;
text-align: left;
color: #DEB37E;

}
.review-2 p{
    width: 332px;
height: 70px;

font-family: "opensans";
font-size: 19px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #333D42;
}
.review-3 h3{
    /* Title */


width: 207px;
height: 34px;

font-family: "opensans-bold";
font-size: 33px;
font-weight: bold;
font-style: normal;
text-align: left;
color: #DEB37E;

}
.review-3 p{
    width: 332px;
height: 70px;

font-family: "opensans";
font-size: 19px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #333D42;
}
.design-text{
    top: 12rem;
    position: relative;
}
.design-text h1{
    text-align: center;
    position: relative;


font-family: "opensans-bold";
font-size: 100px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #3F3F3F;
}
.design-text p{
    font-family: "opensans-semibold";
font-size: 25px;
font-weight: 500;
font-style: normal;
text-align: center;
color: #3F3F3F;
position: relative;


}
.design-text h3{
    text-align: center;
    top: 20px;
    position: relative;
    font-family: "opensans-bold";
font-size: 21px;
font-weight: bold;
font-style: normal;
text-align: center;
color: #3F3F3F;
}
.carly-shape{
    background-image: url(../images/Shape5.png);
    width: 1354px;
    height: 191px;
    position: relative;
    top: 13rem;
    z-index: 9999;
}
.carly-shape h3{
    text-align: center;
    top: 10rem;
    position: relative;
}
.brown-bg{
    background-image: url(../images/brownbg.png);
    height: 690px;
    position: relative;
    top: 3rem;
}
.end{
    background-image: url(../images/Shadow-left.png);
   z-index: 9999;
   width: 812px;
   height: 579px;
    background-position-x: 107%;
    background-repeat: no-repeat;
    background-position-y: -74%;
}
.title-brown h1{
    font-family: "opensans-bold";
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}
.title-brown{
    top: 21rem;
    position: relative;
}
.title-brown p{
    font-family: "opensans";
font-size: 38px;
font-weight: 400;
font-style: normal;
text-align: center;
color: #54524F;
}
.form{
    top: 23rem;
    position: relative;
    text-align: center;
  
}
.form input[type=text]{
    width: 368px;
    height: 46px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 14px;
    border-radius: 50px;

}
.button-4{
    position: relative;
    height: 48px;
    font-size: 16px;
    padding: 17px 64px;
    text-align: center;
    border: 0;
    right: 5rem;
    z-index: 1;
    background-color: RGBA(84, 82, 79, 1);
    border-radius: 50px;
}
.carly-shape-last{
    background-image: url(../images/shape6.png);
    width: 1360px;
    height: 206px;
    position: relative;
    z-index: 99;
    right: 0.6rem;
    background-repeat: no-repeat;
}
.footer{
    position: absolute;
    width: 1354px;
    display: flex;
    height: 400px;
    z-index: -1;
    background-image: url(../images/footer.png);
}
.footer-info h1{
    font-family: "montserrat-regular";
font-size: 25px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #FFFFFF;
}
.footer-info{
    top: 8rem;
    position: relative;
    width: 458px;
    left: 2rem;
    height: 248px;

}
.footer-info p{
    /* Body Text */

position: absolute;
width: 457px;
height: 108px;

font-family: "montserrat-regular";
font-size: 19px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #FFFFFF;

}
.socail-images{
    width: 212px;
    height: 45px;
    top: 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.footer-info-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
    grid-row-gap: 0px;
    top: 8rem;
    position: relative;
    left: 15rem;
    height: 40px;
}
.details{
    grid-area: 1 / 1 / 2 / 2;
    width: 205px;
height: 252px;
}
.details h1{
    font-family: "montserrat-regular";
font-size: 36px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #FFFFFF;
}
.details p{
    font-family: "montserrat-regular";
font-size: 20px;
font-weight: 400;
font-style: normal;
text-align: left;
color: #FFFFFF;
margin: 5px;
}
.details-2 h1{
    font-family: "montserrat-regular";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}
.details-2 p{
    font-family: "montserrat-regular";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
    margin: 5px;
}
.details-3 h1{
    font-family: "montserrat-regular";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}
.details-3 p{
    font-family: "montserrat-regular";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
    margin: 5px;
}



@media screen and (max-width: 768px){
    html{
        font-size: 25%;
    }
    body{
        padding: 0;
    }
    header{
        width: 400px;
    }
    .carly-shape-last{
        width: 400px;
    }
    .banner-tittle h1{
        width: 79px;
        /* height: 79px; */
        top: 64rem;
        font-size: 32px;
    }
    .menu{
        display: block;
    }
    .menu-1 img{
        height:400px;
         width:342px;
    }
    .menu-4 img{
        height:400px;
        width:342px;
    }
    .sub-text{
        width: 84px;
            height: 66px;
            top: 64rem;
    }
    .menu-1{
        width: 352px;
        height: 401px;
    }
    .menu-2{
        width: 352px;
        height: 508px
  
    }
    .menu-info h1{
        width: 234px;
        height: 154px;
        font-size: 32px;


    }
    .menu-info p{
        width: 279px;
        height: 168px;
        font-size: 16px;
    }
    .menu-3{
        width: 352px;
        height: 508px

    }
    .button-3{
        top: -1rem;
    }
    
.card-1 img{
    width: 271px;
}
.card-1{
    width: 271px;
    margin-bottom: 34px;
}
.card-2 img{
    width: 271px;
}
.card-2{
    width: 271px;
    margin-bottom: 34px;
}
.card-3 img{
    width: 271px;
}
.button2 {
    left: 0;
    width: 209px;

}
.background{

    top: -35rem;
    width: 742px;



}
.sec-image{
    width: 390px;
}
.sec-image h1{
    top: 61rem;
    font-size: 28px;
}
.sec-image p{
    top: 64rem;
    font-size: 20px;
    left: 0;
    width: 364px;
}
.hiker-img{
    width: 400px;
}
.review{
    display: block;
}
.footer{
    height: 810px;
    width: 400px;
    display: block;
}
.footer-info p {
    width: 228px;
    font-size: 15px;
}
.socail-images{
    top: 27rem;
}
.footer-info-2{
    display: flex;
    flex-flow: column;
}
.details h1{
    font-size: 21px;
}
.details p{
    font-size: 15px;
}
.details-2 h1{
    font-size: 21px;
}
.details-2 p{
    font-size: 15px;
}
.input{
    display: none;
}
.details-3 h1{
    font-size: 21px;
}
.fa-search{
  left: 0;

}
.details-3 p{
    font-size: 15px;
}
.carly-shape{
    width: 400px;
}
.card-3{
    width: 271px;
    margin-bottom: 34px;
}
.adventure {
    height: 1992px;}

.card-info p{
top: 86rem;
}
.button .btn{
    top: 67rem;
}
    .p-info p{
        width: 249px;
        top: 74rem;
    }
    .adven-info p{
        width: 297px;
        line-height: 17.1px;
    }
    .cards{
        display: block;
    }
    .adven-info h3{
        width: 329px;
    }
    .flex {
        display: none;
    }
 .toggle {
    display: block;
}
.home{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 53px;
    left: 0px;
    height: 125vh;
    width: 100%;
}
}
@media only screen and (max-width : 320px) {
   


}